/* styles.css */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none; 
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; 
    height: auto;
    text-align: center; 
}

.tagline {
    font-size: 1em;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .tagline {
    text-align: center;
    margin: 20px 10px 20px 10px;
    }
}

.circle-container {
    position: relative;
    width: 120px; 
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.circle {
    position: absolute;
    width: 120px; 
    height: 150px; 
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: transform 0.5s ease;
}

.circle-container:hover .circle:first-child, 
.circle-container:active .circle:first-child {
    transition: all 2s;
    transform: rotateY(360deg);
}

.circle-container:hover .circle:last-child, 
.circle-container:active .circle:last-child {
    transition: all 2s;
    transform: rotateY(-180deg);
}

.circle:first-child {
    left: -10px; 
    top: -10px; 
}

.circle:last-child {
    left: 0;
    top: 0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px; 
    margin-left: 30px;;
}

.subscribe-form input[type="email"] {
    flex: 1;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
    max-width: 235px;
}

.subscribe-form button {
    background: transparent;
    opacity: 0;
    transition: opacity 0.3s;
}

.subscribe-form input[type="email"]:focus + button {
    opacity: 1;
    transition: opacity 0.3s;
    border-bottom: 2px solid white;
}

.subscribe-form button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    transition: transform 0.5s;
}

.subscribe-form button:hover {
    transition: transform 0.5s;
}